include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md
include pyproject.toml

recursive-include src/trading_unam *
recursive-include src/opt_pyFE *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
